@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* html{
  font-size: 10px;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Exo2__font {
  font-family: "Exo 2";
}
.linearBg {
  background: rgb(234, 14, 104);
  background: linear-gradient(
    180deg,
    rgba(234, 14, 104, 1) 81%,
    rgba(243, 18, 32, 1) 100%
  );
}

.linearBg__Text {
  /* background: linear-gradient(96deg, #ea0e68 6.64%, #f31220 94.37%); */
  background: linear-gradient(96deg, #EA0E68 6.64%, #F31220 94.37%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.odlerPrice {
  text-decoration-line: strikethrough;
}

.ProductListBtnlinearBg {
  background: linear-gradient(223deg, #0eea90 14.52%, #00c072 82.72%);
}

.bannerLinearBg {
  background: rgb(234, 14, 104);
  background: linear-gradient(
    189deg,
    rgba(234, 14, 104, 1) 20%,
    rgba(243, 18, 32, 1) 100%
  );
}

.dropShadowCustom {
  filter: drop-shadow(-2px -4px 7px rgba(0, 0, 0, 0.5));
}

.hideScrollBar::-webkit-scrollbar {
  display: none;
}

.bestDealLinearBg {
  background: linear-gradient(251deg, #bdf7ff 0%, #e2fbff 31.57%, #defbff 100%);
}

.productPreviewBg {
 background-image: url(assets/ProductPreviewBg.png);
 background-size: cover;
 background-repeat: no-repeat;
}
.productPreviewBg2 {
 background-image: url(assets/ProductPreviewBg2.png);
 background-size: cover;
 background-repeat: no-repeat;
}

.footerBglinear{
  background: linear-gradient(181deg, #EA0E68 0.74%, #F31220 103.2%);
}
